CompileFlags:
  Add: 
    - "-Wall"
    - "-Wextra"
    - "-Werror"

Diagnostics:
  ClangTidy:
    Add: [modernize-*, performance-*, bugprone-*]
    Remove: [modernize-use-trailing-return-type]

Index:
  Background: Build
